{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <h1 class='text-center my-3'>리뷰 수정하기</h1>
  <div class="card shadow p-3 mb-5 bg-body rounded">
    <div class="card-body">
      <form action="{% url 'reviews:update' review.pk %}" method='POST'>
        {% csrf_token %}
        {% bootstrap_form form %}
        <div id="myform">
          <input type="hidden" value='{{ review.grade }}' id='grade'>
          <fieldset>
            <span class="text-bold">별점을 선택해주세요</span>
            <input type="radio" name="reviewStar" value="5" id="rate1" class='review-star'>
            <label for="rate1">★</label>
            <input type="radio" name="reviewStar" value="4" id="rate2" class='review-star'>
            <label for="rate2">★</label>
            <input type="radio" name="reviewStar" value="3" id="rate3" class='review-star'>
            <label for="rate3">★</label>
            <input type="radio" name="reviewStar" value="2" id="rate4" class='review-star'>
            <label for="rate4">★</label>
            <input type="radio" name="reviewStar" value="1" id="rate5" class='review-star'>
            <label for="rate5">★</label>
          </fieldset>
        </div>
        <input class="btn btn-primary my-3" type="submit" value="리뷰 수정">
      </form>
    </div>
  </div>
{% endblock content %}